.navbar:hover {
    box-shadow: 1px 1px #939393;
}


#principal {
    padding-top: 50px;
}

#principal h1 {
    font-size: 48px;    
}

#cta{ 
    font-size: 100;
}
    
 #google{
    margin-left: 10px;
    
 }

 #mit{
height: 70px;
margin-top: 10px;
 }


 #porque{
    margin-bottom: 35px;
 }

 #aula{
height: 400px;

 }

 #google{
margin-left: 55px;

 }


 #porque{
   font-family: montserrat;

   
 }

 .line {
    height: 1px;
    background-color: black;
    margin-top: 20px;
 }
